@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,700&display=swap');

/*PAGINA QUIZ*/

.pagina_quiz {
    font-family: 'Roboto', sans-serif;
    margin-top: 69px;
    overflow: hidden;
}

.pagina_quiz-titulo {
    width: 100%;
    height: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-blend-mode: darken;
}

.pagina_quiz-titulo>h2 {
    font-size: 2.43rem;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
    width: 96%;
}

/*pergutas*/

.pergunta_quiz {
    position: relative;
    width: 759px;
    height: 676px;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
}

.pergunta_quiz-titulo {
    position: relative;
    width: 90%;
    height: 137px;
    margin: 28px auto 8px auto;
    background-color: #818181;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pergunta_quiz-titulo>h3 {
    font-size: 23px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin: 55px auto;
    width: 95%;
    word-wrap: break-word;
}

.pergunta_quiz-option {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    height: 88%;
    position: relative;
}

.pergunta_quiz-option .option {
    max-width: 330px;
    max-height: 228px;
    display: flex;
    flex-direction: column;
    margin: 10px 0 15px 0;
    cursor: pointer;
    height: 45%;
    word-wrap: break-word;
    overflow: hidden;
}

.option img {
    width: 20.55em;
    height: 175px;
}

.option span {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.atual,
.divmarge {
    width: 100%;
    height: 48px;
    margin-bottom: 50px;
}

/*GABARITO*/

.gabarito {
    background-color: #fff;
    width: 759px;
    height: 480px;
    margin: 42px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gabarito-titulo {
    position: relative;
    width: 96%;
    height: 100px;
    margin: 25px auto;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.gabarito-titulo>h3 {
    font-size: 23px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    width: 95%;
    height: 25%;
    word-wrap: break-word;
}

.gabarito-resultado {
    width: 96%;
    display: flex;
    justify-content: space-around;
}

.gabarito-resultado>span {
    font-size: 19px;
    font-weight: 700;
    margin: 0 15px;
    line-height: 25px;
    width: 40%;
    word-wrap: break-word;
}

.gabarito-resultado>img {
    width: 364px;
    height: 273px;
}

.restart-quiz {
    display: block;
    width: 260px;
    height: 52px;
    background-color: #EC362D;
    color: #FFF5F4;
    font-size: 21px;
    font-weight: 400;
    border-radius: 15px;
    border: 1px solid rgb(126, 2, 2);
    margin: 60px auto 30px auto;
    cursor: pointer;
}

.restart-quiz:active {
    background-color: hwb(3 18% 7% / 0.752);
}

.voltar-home {
    font-size: 21px;
    font-weight: 400;
    display: block;
    text-align: center;
    margin: 20px auto 150px auto;
    color: #818181;
    cursor: pointer;
}

a {
    text-decoration: none;
}


/*escolhas*/

.resposta-user-not {
    opacity: 0.3;
}

.respostas-certa {
    color: green;
}

.respostas-errada {
    color: red;
}

.respondido {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

.invisivelScore {
    display: none;
}

@media (max-width: 1100px) {
    /*pagina do quiz*/

    pagina_quiz-titulo {
        width: 100vw;
        min-width: 375px;
        height: 142px;
    }


    .pagina_quiz-titulo>h2 {
        font-size: 1.15rem;
    }

    .pergunta_quiz {
        position: relative;
        width: 375px;
        height: 436px;
        margin: 30px auto;
    }

    .pergunta_quiz-titulo {
        position: relative;
        width: 90%;
        height: 89px;
        margin: 15px auto;

    }

    .pergunta_quiz-titulo img {
        width: 100%;
        height: 92px;
    }

    .pergunta_quiz-titulo h3 {
        font-size: 18px;
        text-align: center;
        margin: 20px auto;
        padding: 0 5px;
    }

    .pergunta_quiz-option {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;

    }

    .pergunta_quiz-option .option {
        display: flex;
        flex-direction: column;
        margin: 5px 0;
        cursor: pointer;
        width: 48%;

    }

    .option img {
        width: 163px;
        height: 113px;
    }

    .option>span {
        font-size: 12px;
        margin: 8px 0;
        height: 25px;
    }


    /*GABARITO*/

    .invisivel {
        display: none;
    }

    .gabarito {
        width: 375px;
        height: 500px;
        margin: 20px auto;
        flex-direction: column;
    }

    .gabarito-titulo {
        width: 96%;
        height: 100px;
        margin: 9px auto;
    }

    .gabarito-titulo>h3 {
        font-size: 19px;
    }

    .gabarito-resultado {
        flex-direction: column;
        width: 96%;
    }

    .gabarito-resultado>span {
        font-size: 17px;
        width: 95%;
    }

    .gabarito-resultado>img {
        width: 95%;
        margin: auto;
        height: 255px;
    }

    .restart-quiz {
        width: 219px;
        height: 44px;
        background-color: #EC362D;
        color: #FFF5F4;
        font-size: 18px;
        margin: 4px auto 2px auto;
    }

    .voltar-home {
        margin: 20px auto 20px auto;
    }


    /*fim gab*/

    .divmarge {
        height: 10px;
        margin-bottom: 50px;
    }
}